:root {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --color-scheme: light dark;

  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;

  /* Dark Theme (default) */
  --color-text: rgba(255, 255, 255, 0.87);
  --color-background: #242424;
  --color-primary: #646cff;
  --color-primary-hover: #535bf2;
  --color-card-background: #3a3a3a;
  --color-header-background: #282c34;
  --color-button-background: #1a1a1a;
  --color-button-hover-border: #646cff;
  --color-grid: #4a4a4a;
}

.light-theme {
  --color-text: #213547;
  --color-background: #ffffff;
  --color-primary: #646cff;
  --color-primary-hover: #747bff;
  --color-card-background: #f9f9f9;
  --color-header-background: #f0f0f0;
  --color-button-background: #e0e0e0;
  --color-button-hover-border: #4a4aff;
  --color-grid: #e9e9e9;
}

* {
  color: var(--color-text);
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  margin: 0;
  min-width: 320px;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary-hover);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-button-hover-border);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}